
.navbar {
  background-color: rgba(253, 245, 172, 0.795);
  padding: 8px 16px;
  position: sticky;
  top: 0;
  width: 100%;
  height: 45px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 6px rgba(248, 184, 123, 0.493);
}

.navbar-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar h1 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-list li a {
  margin: 0 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-list li:hover a {
  color: rgb(0, 0, 0);
}


/* Hamburger icon */
.navbar .menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

/* Mobile menu */
@media (max-width: 768px) {
  .navbar {
    height: auto;
  }
  
  .navbar-container {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .navbar-list {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    background-color: rgba(255, 244, 148, 0.795);
    height: auto;
    padding: 20px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .navbar.active .navbar-list {
    display: flex;
  }

  .navbar-list li {
    margin: 10px 0;
      justify-content: space-between;

  }

  .navbar .menu-toggle {
    display: block;
  }
}

.user-menu-container {
  position: relative;
  margin-left: auto; /* Push to right */
  cursor: pointer;
}

.icono-user {
  height: 50px;
  width: 40px;
  border-radius: 30%;
}

/* Dropdown for user options */
.user-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.user-dropdown a {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 20px;
  transition: background-color 0.2s;
}

.user-dropdown a:hover {
  background-color: #f5f5f5;
}
